<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <title>BookHub</title>
</head>
<body>
    <nav>
        <img id="logo" src="img/logo.png" alt="">
        <img id="bookhub" src="img/bookhub.png" alt="">
        
    </nav> 
    <div class="cards">
        <div class="card" style="margin-left: 5%;">
            <div class="top-card">
                <h2>READ BOOKS</h2>
                <button onclick="window.location.href = 'register.html'" class="create">+</button>
            </div>
            <div id="body-card-readBooks"></div>       
        </div>
    
        <div class="card" >
            <div class="top-card">
                <h2>WISHLIST</h2>
                <button onclick="window.location.href = 'register.html'" class="create">+</button>
            </div>
            <div id="body-card-wishList"></div>  
        </div>
    </div>
    
</body>

<script src="js/getBooks.js"></script>
</html>